.sidebar{
    color: #b4b4b4;
    background-color: #171717;
    height: 100vh;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: transparent;
    border: solid 0.5px rgba(255,255,255,0.5);
    cursor: pointer;
}

.logo{
    height: 25px;
    width: 25px;
    background-color: #fff;
    border-radius: 50%;
    object-fit: cover;
}

button span{
    font-size: 20px;
}

button:hover{
    background-color: rgba(180,180,180,0.05);
}

.history{
    margin: 10px;
    padding: 10px;
    height: 100%;
    overflow-y: scroll;
}

.history li{
    list-style-type: none;
    cursor: pointer;
    padding: 2px 5px;
    margin-bottom: 0.3rem;
    border: solid 10px transparent;
    font-size: 14px;
}

.history li:hover{
    background-color: rgba(180,180,180,0.05);
    border-radius: 10px;
}

.sign{
    margin: 10px;
    padding: 10px;
    font-size: 14px;
    border-top:solid 0.25px rgba(255,255,255,0.5) ;
    text-align: center;
}

.fa-trash{
    position: absolute;
    left:13rem;
    opacity: 0;
}

.history li:hover .fa-trash{
opacity: 1;
color: white;

}

.fa-trash:hover{
    color: #f87171 !important;
}

.highlighted{
    background-color: rgba(180,180,180,0.01);
    border-radius: 10px;
}



@media (max-width: 768px) {
    .sidebar{
    position: fixed;
    height:95vh;
    top: 0;
    left: 0;
    z-index: 1000;
       transform: translateX(-100%);
       transition: transform 0.3s ease;

    }

 .sidebar.show{
    transform:translateX(0);
 }
}
