*{
    color: #ececec;
    font-family: Roboto,"open sans","helvitica neue", sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

.main{
    background-color: #212121;
    display: flex;
    
}


   @media(max-width:768px){
    .main{
min-height: 100dvh;
max-width: 100dvw;
    }
   }