.chatwindow{
    background-color: #212121;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    text-align: center;
    flex: 1;
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar span{
    margin: 1rem 2rem;
}

.userIcon{
background-color: #339cff;
height: 25px;
width: 25px;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
}

.chatInput{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.inputbox{
    width: 100%;
    position: relative;
    max-width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    width: 100%;
    border: none;
    background-color: rgba(255,255,255,0.05);
    padding: 20px;
    font-size: 0.8rem;
    border-radius: 14px;
    box-shadow: rgba(0, 0, 0, 0.05) 0 54px 55px,
                rgba(0, 0, 0, 0.05) 0 -12px 30px,
                rgba(0, 0, 0, 0.05) 0 4px 6px,
                rgba(0, 0, 0, 0.05) 0 12px 3px,
                rgba(0, 0, 0, 0.05) 0 -3px 5px;

}

input:focus{
    outline: none;
}

#sumbit{
cursor: pointer;
height: 35px;
width: 35px;
font-size: 20px;
position: absolute;
right: 15px;
display: flex;

justify-content: center;
align-items: center;
}

#sumbit i:hover{
color: #fff;
}
.info{
    font-size: 0.8rem;
    padding: 0.5rem;
    color: #b4b4b4;
}

.dropdown{
    position: absolute;
    right: 4rem;
    top: 4rem;
    width: 150;
    background-color: #323232;
    padding: 0.3rem 0.5rem;
    border-radius: 6px;
    z-index: 1000;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.dropdownItem{
    font-size: 0.9rem;
    margin: 0.3rem 0rem;
    padding: 0.5rem 0.2;
    cursor: pointer;
}

.dropdown:hover{
    background-color: rgba(180,180,180,0.1);
    border-radius: 6px;
}

.his{
    display: none;
}

.overlay{
     position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
   margin: 2rem;
    gap: 20px;
    margin-left: 30rem;
    padding-left: 15rem;
}

.signupForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    
}

.loginForm{
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    
}

.light{
    opacity: 0.05;
  pointer-events: none;
}




@media (max-width:768px) {
    .his{
        display: block;
    }

    .chatwindow{
        width: 100%;
        height: 95vh;
        display: flex;
       
        justify-content: center;
        align-items: center;
      
        text-align: center;
        position: fixed;
    }

    .navbar{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .active{
        opacity: 0.5;;
        transform: translateX(82%);
        transition:transform 0.3s ease-out ;
    }

    .inputbox{
        width: 90%;
    }

    .overlay{
       position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
   margin: 4rem;
    gap: 20px;
padding: 2.5rem;
    }
}


