



.chats{
max-width: 700px;
overflow-y: auto;
padding: 10rem;
flex: 1;

}

.userdiv{
display: flex;
justify-content: flex-end;
font-size: 0.9rem;
}

.gptdiv{
text-align: left;
font-size: 0.9rem;
}

.usermsg{
background-color: #323232;
padding: 10px 20px;
border-radius: 14px;
margin: 15px;
max-width: 500px;
width: fit-content;
}

.gptmsg{

}